body{
    background-color:#8cb2fa;/* cor de fundo da pagina */
    color: #000000; /* Cor da fonte */
    font-size: 26px; /*Tamanho da Fonte*/
    margin: 0; /* Margem em relação a tela */
    /*padding: 0; Margem interna* se o margin estiver 0 nao precisa de padding*/
}/*Comentarios */

.botoesMenu, li{
    color: #fff;
    list-style-type: none;/*Remove as bolinhas de topicos*/
    display: inline;/*Transforma coluna em linha*/
    border: 2px solid #000;
    padding: 2px;
    background-color: #000;
    
}

li:hover{ /*Hover é um elemento de modificação -> modifica o conteudo original da Tag*/
    background-color: #000;
    font-size: 30px;
    font-family: 'Trebuchet MS'; /*Definir uma fonte*/
    border: 10px solid #888
}

p{
    text-align: center;/*Alinhamento do texto*/
}

h1{
    text-align: center;/*Alinhamento do texto*/
}

